<div class="modal-header">
  <h1>Editar registro de vacaciones</h1>
</div>
<%= form_for @vacation, :url => personal_update_vacation_path, :html => {:class => 'form-horizontal'} do |f| %>
    <div class="modal-body">
      <%= bootstrap_flash %>
      <%= render :partial => 'shared/model_errors', :object => @vacation, :as => 'token' %>

      <div class="control-group">
        <%= label_tag :employee_id, 'Empleado', :class => 'control-label' %>
        <div class="controls">
          <span class='uneditable-input'><%= @vacation.employee.complete_name %></span>
        </div>
      </div>

      <div class="control-group">
        <%= f.label :vacation_type, 'Motivo', :class => "control-label" %>
        <div class="controls">
          <select name='vacation[vacation_type]'>
            <% {'vacation' => 'Vacaciones', 'administrative' => 'Permiso administrativo', 'license' => 'Licencia'}.each do |val, name| %>
                <option value='<%= val %>' <%= 'selected' if @vacation.vacation_type == val %>><%= name %></option>
            <% end %>
          </select>
        </div>
      </div>

      <div class="control-group">
        <%= f.label :start_date, 'Fecha inicio', :class => "control-label" %>
        <div class="controls">
          <div class="datepicker input-append date">
            <%= f.text_field :start_date, :value => @vacation.start_date ? @vacation.start_date.strftime("%d-%m-%Y") : '' %>
            <span class="add-on">
              <i data-time-icon="icon-time" data-date-icon="icon-calendar"></i>
            </span>
          </div>
        </div>
      </div>

      <div class="control-group">
        <%= f.label :end_date, 'Fecha término', :class => "control-label" %>
        <div class="controls">
          <div class="datepicker input-append date">
            <%= f.text_field :end_date, :value => @vacation.end_date ? @vacation.end_date.strftime("%d-%m-%Y") : '' %>
            <span class="add-on">
              <i data-time-icon="icon-time" data-date-icon="icon-calendar"></i>
            </span>
          </div>
        </div>
      </div>

      <% vacation_days = @vacation.employee.get_vacation_days %>
      <div class='control-group'>
        <label class='control-label'>Información</label>
        <div class='controls'>
          <em>Días tomados por el empleado seleccionado desde el 1 de Enero.</em>
          <strong>Vacaciones:</strong>
          <em id='vacation-count'><%= vacation_days['vacation'] %> días.</em>
          <br/>

          <strong>Días administrativos</strong>
          <em id='administrative-count'><%= vacation_days['administrative'] %> días.</em>
          <br/>

          <strong>Licencias</strong>
          <em id='license-count'><%= vacation_days['license'] %> días.</em>
          <br/>
        </div>
      </div>

    </div>
    <div class="modal-footer">
      <%= f.submit 'Modificar', :class => 'btn btn-primary' %>
      <%= f.submit 'Eliminar', :name => 'delete', :class =>'btn btn-danger pull-left' %>
      <%= link_to 'Cerrar', '#', :class => 'btn', 'data-dismiss' => 'modal' %>
    </div>
<% end %>