<div class="modal-header">
  <h1>Nuevo registro de vacaciones/permiso</h1>
</div>
<%= form_for @vacation, :url => personal_create_vacation_path, :html => {:class => 'form-horizontal'} do |f| %>
    <div class="modal-body">
      <%= bootstrap_flash %>
      <%= render :partial => 'shared/model_errors', :object => @vacation, :as => 'token' %>

      <div class="control-group">
        <%= label_tag :employee_id, 'Empleado', :class => 'control-label' %>
        <div class="controls">
          <%= f.collection_select :employee_id, @employees, :id, :complete_name, { :include_blank => true } %>
        </div>
      </div>

      <div class="control-group">
        <%= f.label :vacation_type, 'Motivo', :class => "control-label" %>
        <div class="controls">
          <select name='vacation[vacation_type]'>
            <option value='vacation'>Vacaciones</option>
            <option value='administrative'>Permiso administrativo</option>
            <option value='license'>Licencia</option>
          </select>
        </div>
      </div>

      <div class="control-group">
        <%= f.label :start_date, 'Fecha inicio', :class => "control-label" %>
        <div class="controls">
          <div class="datepicker input-append date">
            <%= f.text_field :start_date, :value => @vacation.start_date ? @vacation.start_date.strftime("%d-%m-%Y") : '' %>
            <span class="add-on">
              <i data-time-icon="icon-time" data-date-icon="icon-calendar"></i>
            </span>
          </div>
        </div>
      </div>

      <div class="control-group">
        <%= f.label :end_date, 'Fecha término', :class => "control-label" %>
        <div class="controls">
          <div class="datepicker input-append date">
            <%= f.text_field :end_date, :value => @vacation.end_date ? @vacation.start_date.strftime("%d-%m-%Y") : '' %>
            <span class="add-on">
              <i data-time-icon="icon-time" data-date-icon="icon-calendar"></i>
            </span>
          </div>
        </div>
      </div>

      <div class='control-group'>
        <label class='control-label'>Información</label>
        <div class='controls'>
          <em>Días tomados por el empleado seleccionado desde el 1 de Enero.</em>
          <strong>Vacaciones:</strong>
          <em id='vacation-count'><!-- rellenado por javascript --></em>
          <br/>

          <strong>Días administrativos</strong>
          <em id='administrative-count'><!-- rellenado por javascript --></em>
          <br/>

          <strong>Licencias</strong>
          <em id='license-count'><!-- rellenado por javascript --></em>
          <br/>
        </div>
      </div>

    </div>
    <div class="modal-footer">
      <%= f.submit 'Crear', :class => 'btn btn-primary' %>
      <%= link_to 'Cerrar', '#', :class => 'btn', 'data-dismiss' => 'modal' %>
    </div>
<% end %>

<script>
    $(function() {
        // actualizar el select de Salas al cambiar el Sector
        $('#vacation_employee_id').change(loadVacationCounters);
        loadVacationCounters();
    });

    function loadVacationCounters() {
        var employee_id = $('#vacation_employee_id').val();
        if (employee_id) {
            $('#vacation-count, #administrative-count, #license-count').html('Cargando...');
            $.getJSON('/api/employees/:id/vacations.json'.replace(':id', employee_id),
                    function(data) {
                        $('#vacation-count').html(data['vacation'] + ' días.');
                        $('#administrative-count').html(data['administrative'] + ' días.');
                        $('#license-count').html(data['license'] + ' días.');
                    }).fail(function() {
                        $('#vacation-count, #administrative-count, #license-count').html('Error. Intente más tarde.');
                    });
        }
        else {
            $('#vacation-count, #administrative-count, #license-count').html('---');
        }
    }
</script>