<div class="modal-header">
  <h1>Nuevo registro de vacaciones/permiso</h1>
</div>
<%= form_for @vacation, :url => personal_create_vacation_path, :html => {:class => 'form-horizontal'} do |f| %>
    <div class="modal-body">
      <%= bootstrap_flash %>
      <%= render :partial => 'shared/model_errors', :object => @vacation, :as => 'token' %>

      <div class="control-group">
        <%= label_tag :employee_id, 'Empleado', :class => 'control-label' %>
        <div class="controls">
          <%= f.collection_select :employee_id, @employees, :id, :complete_name, { :include_blank => true } %>
        </div>
      </div>

      <div class="control-group">
        <%= f.label :is_vacation, 'Motivo', :class => "control-label" %>
        <div class="controls">
          <select name='vacation[is_vacation]'>
            <option value='true'>Vacaciones</option>
            <option value=''>Permiso administrativo</option>
          </select>
        </div>
      </div>

      <div class="control-group">
        <%= f.label :start_date, 'Fecha inicio', :class => "control-label" %>
        <div class="controls">
          <div class="datepicker input-append date">
            <%= f.text_field :start_date, :value => @vacation.start_date ? @vacation.start_date.strftime("%d-%m-%Y") : '' %>
            <span class="add-on">
              <i data-time-icon="icon-time" data-date-icon="icon-calendar"></i>
            </span>
          </div>
        </div>
      </div>

      <div class="control-group">
        <%= f.label :end_date, 'Fecha término', :class => "control-label" %>
        <div class="controls">
          <div class="datepicker input-append date">
            <%= f.text_field :end_date, :value => @vacation.end_date ? @vacation.start_date.strftime("%d-%m-%Y") : '' %>
            <span class="add-on">
              <i data-time-icon="icon-time" data-date-icon="icon-calendar"></i>
            </span>
          </div>
        </div>
      </div>

      <div class='control-group'>
        <div class='controls'>
          <dl>
            <dt>Vacaciones</dt>
            <dd><em>Seleccione un empleado</em></dd>

            <dt>Días administrativos</dt>
            <dd><em>Seleccione un empleado</em></dd>
          </dl>
        </div>
      </div>

    </div>
    <div class="modal-footer">
      <%= f.submit 'Crear', :class => 'btn btn-primary' %>
      <%= link_to 'Cerrar', '#', :class => 'btn', 'data-dismiss' => 'modal' %>
    </div>
<% end %>

<script>
    $(function() {
        // actualizar el select de Salas al cambiar el Sector
        $('#terminal_cleanup_sector_id').change(loadRoomSelect);
        loadRoomSelect();
    });

    function loadRoomSelect() {
        var sector_id = $('#terminal_cleanup_sector_id').val();
        if (sector_id) {
            var $room_select = $('#terminal_cleanup_room_id');
            $room_select.html('');  // clear options
            $room_select.append('<option value="">Cargando...</option>');

            $.getJSON('/api/rooms/sector/:id.json'.replace(':id', sector_id),
                    function(data) {
                        $room_select.html('');  // clear options
                        $room_select.append('<option value="">Todas las de '+
                                $('#terminal_cleanup_sector_id option:selected').text() +
                                '</option>');
                        for (var i = 0; i < data.length; i++) {
                            var $option = $('<option></option>');
                            $option.val(data[i]['id']);
                            $option.text(data[i]['name']);
                            $room_select.append($option);
                        }
                    });
        }
        else {
            $('#terminal_cleanup_room_id').html('<optgroup label="Elija un sector..."></optgroup>');
        }
    }
</script>