<%= form_for @shift, url: @url_form do |f| %>
    <h4>Datos de <%=@name%></h4>
    <div class="row-fluid">
      <div class="control-group span6">
        <%= f.label :name, 'Nombre', class:'control-label' %>
        <div class="controls">
          <%= f.text_field :name, class: "span12", required: true%>
        </div>
      </div>
      <div class="control-group span3">
        <div class="controls">
          <%= f.label :start_time, 'Inicio', class:'control-label' %>
          <div class="timepicker input-append date span12">
            <%= f.text_field :start_time, value: @shift.start_time_for_form,
                             class:'input-medium span8', required: true%>
            <span class="add-on">
                  <i data-time-icon="icon-time" data-date-icon="icon-calendar"></i>
            </span>
          </div>
        </div>
      </div>
      <div class="control-group span3">
        <div class="controls">
          <%= f.label :end_time, 'Término', class:'control-label' %>
          <div class="timepicker input-append date span12">
            <%= f.text_field :end_time, value: @shift.end_time_for_form,
                             class: 'input-medium span8',required: true %>
            <span class="add-on">
                  <i data-time-icon="icon-time" data-date-icon="icon-calendar"></i>
            </span>
          </div>
        </div>
      </div>
    </div>
    <div class="row-fluid">
      <div class="span3">
        <div class="row-fluid">
          <div class="span12">
            Días del turno
          </div>
        </div>
        <div class="row-fluid">
          <%= f.label :monday do %>
            <%= f.check_box :monday%> Lunes
          <% end %>
        </div>
        <div class="row-fluid">
          <%= f.label :tuesday do %>
              <%= f.check_box :tuesday%> Martes
          <% end %>
        </div>
        <div class="row-fluid">
          <%= f.label :wednesday do %>
              <%= f.check_box :wednesday%> Miércoles
          <% end %>
        </div>
        <div class="row-fluid">
          <%= f.label :thursday do %>
              <%= f.check_box :thursday%> Jueves
          <% end %>
        </div>
        <div class="row-fluid">
          <%= f.label :friday do %>
              <%= f.check_box :friday%> Viernes
          <% end %>
        </div>
        <div class="row-fluid">
          <%= f.label :saturday do %>
              <%= f.check_box :saturday%> Sábado
          <% end %>
        </div>
        <div class="row-fluid">
          <%= f.label :sunday do %>
              <%= f.check_box :sunday%> Domingo
          <% end %>
        </div>
      </div>
      <div class="span9">
        <div class="row-fluid">
          <%= f.label :comments, "Comentarios" %>
          <%= f.text_area :comments, class: 'shift_comments_textarea span12' %>
        </div>
      </div>
      <div class="row-fluid">
        <%= f.submit @submit_str, :class => 'btn btn-primary pull-right' %>
      </div>
    </div>
<% end %>