<h2>Vista de salas</h2>

<div class="span9 rooms_selector_panel">
  <div class="row-fluid">
      <div class="span5">
        <%= label_tag "zones_collection", "Zona", :class => "zone_label span3" %>
        <%= select_tag :zones_collection, options_for_select(@zones), :class => "span7" %>
      </div>
      <div class="span5">
        <%= label_tag "sectors_collection", "Sector", :class => "sector_label span3" %>
        <%= select_tag :sectors_collection, options_from_collection_for_select(@sectors, "id", "name"), :class => "span7" %>
      </div>
  </div>
</div>
<div class="span12">
  <%= render 'shared/legend_room_status' %>
</div>
<div id="rooms_container" class="span12">
  <% for i in 0..(@rooms.size-1)/3 %>
      <div class="row-fluid">
      <% for pos in 3*i..3*i+2 %>
        <% if pos < @rooms.size %>
          <div class="span4">
            <a class="rooms_button status-<%= @rooms[pos].status %> span12" data-modal=true
                 href="<%= url_room_by_status(@rooms[pos])%>">
              <%= @rooms[pos].name %>
            </a>
          </div>
        <% end %>
      <% end %>
      </div>
  <% end %>
</div>

<% if @is_ajax_request %>
    <script>init_rooms_view();</script>
<% end %>