<div class="modal-header">
  <h1>Nueva Solicitud de Limpieza</h1>
</div>
<%= form_for @cleanup_request, :url => limpieza_create_cleanup_request_path do |f| %>
    <div class="modal-body">
          <%= bootstrap_flash %>
          <%= render :partial => 'shared/model_errors', :object => @cleanup_request, :as => 'token' %>
      <div class='fluid-row'>
          <div class="control-group form-horizontal">
            <%= label_tag :room_id, 'Sala', :class=>'control-label' %>
            <div class="controls">
              <%= f.collection_select :room_id, @requestable_rooms, :id, :name,{}, {
                 :selected => @cleanup_request.room_id} %>
            </div>
          </div>

        <div class="control-group form-horizontal">
            <%= f.label 'cleanup_request[priority]', 'Urgencia', :class=>"control-label" %>
            <div class="controls">
                <%= select_tag 'cleanup_request[priority]', options_for_select(CleanupRequest.priority_options),
                           {:selected => @cleanup_request.priority} %>
            </div>
        </div>

        <div class="control-group form-horizontal">
          <%= f.label 'cleanup_request[request_type]', 'Tipo', :class=>"control-label" %>
          <div class="controls">
            <%= select_tag 'cleanup_request[request_type]', options_for_select(CleanupRequest.request_type_options),
                           {:selected => @cleanup_request.request_type} %>
          </div>
        </div>

        <div class="control-group form-horizontal">
            <%= f.label :requested_at, 'Fecha y Hora', :class=>"control-label" %>
            <div class="controls">
              <div class="datetimepicker input-append date">
                <%= f.text_field :requested_at, :value => Time.current.strftime("%d-%m-%Y %I:%M %p") %>
                <span class="add-on">
                      <i data-time-icon="icon-time" data-date-icon="icon-calendar"></i>
                </span>
              </div>
            </div>
           </div>

          <div class="control-group span11">
            <%= f.label :start_comments, 'Comentarios', :class=>"control-label" %>
              <%= f.text_area :start_comments %>
          </div>
        </div>
    </div>
    <div class="modal-footer">
      <%= f.submit 'Crear',:name => 'just_create', :class =>'btn btn-primary' %>
      <% if @requestable_rooms.size > 1 %>
        <%= f.submit 'Crear y seguir agregando', :name => 'create_and_continue', :class =>'btn btn-primary' %>
      <%end%>
      <%= link_to 'Cerrar', '#', :class => 'btn btn-primary', 'data-dismiss' => 'modal' %>
    </div>
<% end %>