<div class="modal-header">
  <h1>Responder Solicitud de Limpieza</h1>
</div>
<%= form_for @cleanup_request, :url => limpieza_process_cleanup_request_path do |f| %>
    <div class="modal-body">
      <%= bootstrap_flash %>
      <%= render :partial => 'shared/model_errors', :object => @cleanup_request, :as => 'token' %>

      <div class="control-group">
        <%= label_tag :room, 'Sala', :class=>'control-label' %>
        <div class="controls">
          <%= text_field_tag :room, @cleanup_request.room.name, :disabled => true %>
        </div>
      </div>

      <div class="control-group">
        <%= label_tag :requested_at, 'Fecha y Hora Solicitud', :class=>"control-label" %>
        <div class="controls">
          <%= text_field_tag :requested_at, @cleanup_request.get_requested_at_smart_str, :disabled => true %>
        </div>
      </div>

      <div class="control-group">
        <%= label_tag :priority, 'Urgencia', :class=>"control-label" %>
        <div class="controls">
          <%= text_field_tag :priority, @cleanup_request.get_priority_str, :disabled => true %>
        </div>
      </div>

      <div class="control-group">

        <h6 class="bold">Empleados asignados</h6>
        <%= select_tag 'cleanup_request[employees_asigned]', options_for_select(Employee.on_turn_employees_for_select) %>
      </div>

      <div class="control-group">
        <%= f.label :end_comments, 'Comentarios', :class=>"control-label" %>
        <div class="controls">
          <%= f.text_area :end_comments, :value=>@cleanup_request.end_comments %>
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <%= f.submit 'Guardar Solicitud', :class =>'btn btn-primary' %>
      <%= link_to 'Eliminar Solicitud', limpieza_delete_cleanup_request_path(@cleanup_request) , :class =>'btn btn-danger' %>
      <%= link_to 'Cerrar', '#', :class => 'btn btn-primary', 'data-dismiss' => 'modal' %>
    </div>
<% end %>