<div class="modal-header">
  <h1>Responder Solicitud de Limpieza</h1>
</div>
<%= form_for @cleanup_request, :url => limpieza_process_cleanup_request_path do |f| %>
    <div class="modal-body">
      <%= bootstrap_flash %>
      <%= render :partial => 'shared/model_errors', :object => @cleanup_request, :as => 'token' %>

      <div class='row'>
        <div class='span10 offset1'>
              <table class="table table-striped table-condensed center">
                <tr>
                 <th>Sala</th>
                 <th>Hora de Solicitud</th>
                 <th>Tipo</th>
                 <th>Prioridad</th>
                 <th>Solicitante</th>
                 <th>Comentario</th>
                </tr>
                <tr class='info'>
                  <td><%=@cleanup_request.room.name%></td>
                  <td><%=@cleanup_request.get_requested_at_smart_str%></td>
                  <td> <%=@cleanup_request.get_request_type_str%></td>
                  <td> <%=@cleanup_request.get_priority_str%></td>
                  <td><%=@cleanup_request.get_who_requested.complete_name%></td>
                  <td><%=@cleanup_request.start_comments%></td>
                </tr>
              </table>
        </div>
      </div>
      <div class="control-group span11">
        <%= label_tag :employees_assigned, 'Empleados asignados' %>
        <%= select_tag :employees_assigned, options_for_select(Employee.on_turn_employees_for_select),
                       :multiple => true, :class => 'input-xxlarge select2' %>
      </div>
      <div class="control-group span11">
        <%= label_tag :comments, 'Comentarios', :class=>"control-label" %>
        <p class='label-comments'>Agregue un comentario de inicio de atención o de eliminación de esta solicitud</p>
        <div class="controls">
          <%= text_area_tag :comments, @cleanup_request.response_comments %>
        </div>
      </div>
      <%= hidden_field_tag :sec, @sec%>
      <%= hidden_field_tag :req, @cleanup_request.id %>
    </div>
    <div class="modal-footer">
      <%= f.submit 'Guardar e iniciar atención', :name => 'response', :class =>'btn btn-primary' %>
      <%= f.submit 'Eliminar', :name => 'delete', :class =>'btn btn-danger pull-left' %>
      <%= link_to 'Cerrar', '#', :class => 'btn btn-primary', 'data-dismiss' => 'modal' %>
    </div>
<% end %>