<h2>Control de Asistencia</h2>

<form id="assistance-selector-form">
  <div class="row-fluid span6">
    <%= label_tag "date", "Fecha", :class => "span3" %>
    <div class="datepicker input-append date">
      <input id="date" name="date" type="text" value="<%= @date.strftime('%d-%m-%Y') %>" />
      <span class="add-on">
        <i data-time-icon="icon-time" data-date-icon="icon-calendar"></i>
      </span>
    </div>
  </div>
  <div class="row-fluid span6">
    <%= label_tag "shifts_collection", "Turno", :class => "span3" %>
    <%= select_tag 'shift_id', options_from_collection_for_select(@shifts, :id, :name, (@shift.id if @shift)),
                   { :include_blank => true } %>
  </div>
</form>

<% if @shift %>
    <dl class="dl-horizontal pull-right">
      <dt>Fecha</dt>
      <dd><%= @date.strftime('%d-%m-%Y') %></dd>
      <dt>Hora inicio</dt>
      <dd><%= @shift.start_time.strftime('%H:%M') %></dd>
      <dt>Hora salida</dt>
      <dd><%= @shift.end_time.strftime('%H:%M') %></dd>
    </dl>
<% end %>

<table class="table table-bordered">
  <thead>
    <tr>
      <th>Nombre</th>
      <th>Apellidos</th>
      <th>Acciones</th>
      <th>Hora</th>
    </tr>
  </thead>
  <tbody>
  <% if @assistances %>
      <% @assistances.each do |a| %>
        <tr data-id='<%= a.id %>'>
          <td><%= a.employee.name %></td>
          <td><%= a.employee.last_name1 %> <%= a.employee.last_name2 %></td>
          <% if a.employee.is_on_vacation?(@date) %>
              <td>---</td>
              <td><em><%= a.employee.is_on_vacation_str(@date) %></em></td>
          <% else %>
              <td><button class="btn assistance-btn"><i class="icon-ok"></i> Asistencia</button></td>
              <td class="hour-td"><%= a.entry_time ? a.get_formatted_entry_time : 'Ausente' %></td>
          <% end %>
        </tr>
      <% end %>
  <% else %>
    <tr>
      <td colspan="4">
        <% if @shift %>
            <em>Este turno no tiene asistencia en esta fecha.</em>
        <% else %>
            <em>Seleccione un turno desde el menú para continuar.</em>
        <% end %>
      </td>
    </tr>
  <% end %>
  </tbody>
</table>

<script>
  $(function() {
      $('#shift_id').on('change', function() {
          $('#assistance-selector-form').submit();
      });
      $('#date').bind('input', function() {
          $('#assistance-selector-form').submit();
      });

      $('.assistance-btn').on('click', function() {
          var now = new Date();
          var now_hrs = pad(now.getHours(), 2) + ':' + pad(now.getMinutes(), 2);
          var assist_time = prompt('Hora de llegada (HH:MM)?', now_hrs);
          if (assist_time) {
              if (/(2[0-3]|[0-1][0-9]):[0-5][0-9]/.test(assist_time)) {
                  var $tr = $(this).closest('tr');
                  // hora en el td
                  var prev_value = $tr.find('.hour-td').html();
                  $tr.find('.hour-td').html(assist_time);

                  // enviar al servidor
                  $.post('<%= url_for :action => 'update' %>', {
                              id: $tr.data('id'),
                              time: assist_time
                          },
                          function() {
                      // nada.
                  }).error(function(){
                              alert('Error al actualizar asistencia.');
                              $tr.find('.hour-td').html(prev_value);
                          });
              }
              else {
                  alert('hora debe seguir formato HH:MM');
              }
          }
      });
  })

  function pad(n, width, z) {
      z = z || '0';
      n = n + '';
      return n.length >= width ? n : new Array(width - n.length + 1).join(z) + n;
  }
</script>