<div class="row-fluid">
  <div class="span12">
    <h3>
      Lista de Sectores
      <%= link_to administracion_new_sector_path do%>
          <i class="icon-plus-sign no-underline"></i>
      <% end %>
    </h3>

    <br>

    <% if @sectors.blank? %>
        <div class="alert alert-info text-center">
            <h6>No se han encontrado sectores</h6>
        </div>
    <% else %>
        <table class='table table-striped table-bordered'>
          <tr>
            <th>Nombre del Sector</th>
            <th>Zona del Sector</th>
            <th>Acciones</th>
          </tr>
          <% @sectors.each do |sector| %>
              <tr>
                <td><%= sector.name %></td>
                <td><%= sector.zone %></td>
                <td>
                  <%= link_to administracion_edit_sector_path(sector) do%>
                      <i class="icon-pencil icon-black"></i>
                  <% end %>
                </td>
              </tr>
          <% end %>
        </table>
        <%= render 'legend_sectors_list' %>
        <%= will_paginate @sectors, renderer: BootstrapPagination::Rails %>
    <% end %>
  </div>
</div>
