<div class="sidebar-nav well">
  <!-- TODO: Hacer el menu no estatico (https://github.com/seyhunak/twitter-bootstrap-rails) -->
  <ul class="nav nav-pills nav-stacked">
    <li class="nav-header">Módulo Limpieza</li>
    <li class="<%= "active" if @current_controller == "general" %>">
      <%= link_to :controller => 'limpieza/general' do %>
          <i class="icon-home icon-white"></i> General<% end %>
    </li>
    <li class="<%= "active" if @current_controller == "agenda" %>">
      <%= link_to :controller => 'limpieza/agenda' do %>
          <i class="icon-book icon-black"></i> Agenda diaria<% end %>
    </li>
    <li class="<%= "active" if @current_controller == "calendario" %>">
      <%= link_to :controller => 'limpieza/calendario' do %>
          <i class="icon-calendar icon-black"></i> Calendario<% end %>
    </li>
    <li class="<%= "active" if @current_controller == "rooms_view" %>">
      <%= link_to :controller => 'limpieza/roomsView' do %>
          <i class="icon-th-large icon-black"></i> Vista de Salas<% end %>
    </li>
  </ul>
</div><!--/.well -->