<div class="sidebar-nav well">
  <ul class="nav nav-pills nav-stacked">
    <li class="nav-header">Módulo Personal</li>
    <% unless @current_user.coordinator? %>
        <li class="<%= "active" if @current_controller == "employees" %>">
          <%= link_to personal_employees_list_path do %>
              <i class="icon-user icon-<% if @current_controller == "employees" %>white<% else %>black<% end %>"></i>
              Empleados
          <% end %>
        </li>
        <li class="<%= "active" if @current_controller == "shifts" %>">
          <%= link_to personal_shifts_path do %>
              <i class="icon-briefcase icon-<% if @current_controller == "shifts" %>white<% else %>black<% end %>"></i>
              Turnos
          <% end %>
        </li>
    <%end%>
    <li class="<%= "active" if @current_controller == "assistances" %>">
      <%= link_to personal_assistances_path do %>
          <i class="icon-list-alt icon-<% if @current_controller == "assistances" %>white<% else %>black<% end %>"></i>
          Asistencia
      <% end %>
    </li>
    <%unless @current_user.coordinator? %>
        <li class="<%= "active" if @current_controller == "CONTROLADOR_VACACIONES_PERMISOS" %>">
          <%= link_to personal_vacations_path do %>
              <i class="icon-star icon-<% if @current_controller == "CONTROLADOR_VACACIONES_PERMISOS" %>white<% else %>black<% end %>"></i>
              Vacaciones y Permisos
          <% end %>
        </li>
    <%end%>
  </ul>
</div><!--/.well -->