<div class='fluid-row'>
  <div class='span8 offset2'>
    <h2>Cambio de Contrase침a</h2>
    <%= form_for @user, :url => my_password_update_path do |f|%>
        <%= bootstrap_flash %>
        <%= render :partial => 'shared/model_errors',:object => @user, :as => 'token' %>

        <div class="control-group form-horizontal">
          <%= f.label :password, 'Nueva Contrase침a', :class=>'control-label' %>
          <div class="controls">
            <%= f.password_field :password %>
          </div>
        </div>

        <div class="control-group form-horizontal">
          <%= f.label :password_confirmation, 'Confirmaci칩n de Contrase침a', :class=>'control-label' %>
          <div class="controls">
            <%= f.password_field :password_confirmation %>
          </div>
        </div>

        <div class="control-group form-horizontal">
          <div class="controls">
            <%= f.submit 'Cambiar', :class => 'btn btn-primary' %>
          </div>
        </div>
    <% end %>
  </div>
</div>