<div class='fluid-row'>
  <div class='span12'>
    <ul class="breadcrumb">
      <li><a href=<%= administracion_users_list_path %>>Lista de Usuarios</a> <span class="divider">/</span></li>
      <li class="active">Cambio de Contraseña</li>
    </ul>
    <h2>Cambio de Contraseña de <%= @user.complete_name %></h2>
  </div>
  <div class='span12'>
    <%= form_for @user, :url => administracion_password_update_path(@user) do |f|%>

        <%= render :partial => 'shared/model_errors',:object => @user, :as => 'token' %>

        <%= hidden_field_tag :sec, @sec %>

        <div class="control-group form-horizontal">
          <%= f.label :password, 'Nueva Contraseña', :class=>'control-label' %>
          <div class="controls">
            <%= f.password_field :password %>
          </div>
        </div>

        <div class="control-group form-horizontal">
          <%= f.label :password_confirmation, 'Confirmación de Contraseña', :class=>'control-label' %>
          <div class="controls">
            <%= f.password_field :password_confirmation %>
          </div>
        </div>

        <div class="control-group form-horizontal">
          <div class="controls">
            <%= f.submit 'Cambiar', :class => 'btn btn-primary' %>
          </div>
        </div>
    <% end %>
  </div>
</div>