<div class='fluid-row'>
  <div class='span12'>
    <% @page_title = @is_new ? 'Nuevo Usuario' : 'Editando Usuario' %>
    <ul class="breadcrumb">
      <li><a href=<%= administracion_users_list_path %>>Lista de Usuarios</a> <span class="divider">/</span></li>
      <li class="active"><%= @page_title %></li>
    </ul>
    <% @page_title = @is_new ? 'Nuevo Usuario' : 'Editando a '+@user.complete_name %>
    <h2><%= @page_title %></h2>
  </div>
  <div class='span12'>
    <% url_form = @is_new ? administracion_create_user_path : administracion_update_user_path(@user) %>
    <%= form_for @user, :url => url_form do |f|%>

        <%= render :partial => 'shared/model_errors',:object => @user, :as => 'token' %>

        <% unless @is_new %>
            <%= hidden_field_tag :sec, @sec %>
        <%end%>
        <div class="control-group form-horizontal">
          <%= f.label :name, 'Nombre', :class=>'control-label' %>
          <div class="controls">
            <%= f.text_field :name %>
          </div>
        </div>

        <div class="control-group form-horizontal">
          <%= f.label :last_name1, 'Apellido Paterno', :class=>'control-label' %>
          <div class="controls">
            <%= f.text_field :last_name1 %>
          </div>
        </div>

        <div class="control-group form-horizontal">
          <%= f.label :last_name2, 'Apellido Materno', :class=>'control-label' %>
          <div class="controls">
            <%= f.text_field :last_name2 %>
          </div>
        </div>

        <div class="control-group form-horizontal">
          <%= label_tag :gender, 'Género', :class=>'control-label' %>
          <div class="controls">
            <%= f.radio_button(:gender, 'M', :checked => (@user.gender == 'M')) %> Masculino
            <%= f.radio_button(:gender, 'F', :checked => (@user.gender == 'F')) %> Femenino
          </div>
        </div>

        <div class="control-group form-horizontal">
          <%= f.label :active, 'Activo?', :class=>'control-label' %>
          <div class="controls">
            <%= f.check_box :active %>
          </div>
        </div>

        <div class="control-group form-horizontal">
          <%= f.label :user_type, 'Tipo de Usuario', :class=>'control-label' %>
          <div class="controls">
            <%= f.select :user_type,
                         options_for_select(User.user_type_options, @user.user_type),
                         {:prompt => 'Seleccione un tipo'}
            %>

            <a href="#" id='user-type-help' data-toggle='popover' data-placement='right' data-content=
                "<div id='user-type-info'>
                    <ul>
                      <li><strong>Administrador:</strong> Puede realizar cualquier acción en los 3 módulos.</li>
                      <li>
                        <strong>Coordinador:</strong> Puede realizar cualquier acción en el módulo de Limpieza y marcar asistencias en el
                        módulo de Personal. No tiene acceso al módulo de Administración.
                      </li>
                      <li>
                        <strong>Solo Lectura:</strong> Tiene disponible solo una vista especial de estado de salas en donde solo
                        puede ver el estado actual sin modificar nada.
                      </li>
                    </ul>
                </div>"
               title="" data-original-title="<strong>Información de los tipos</strong>"><i class='icon-question-sign'></i></a>
          </div>

          <script>
              $('#user-type-help').popover({ html : true });
          </script>

        </div>

        <div class="control-group form-horizontal">
          <%= f.label :username, 'Usuario', :class=>'control-label' %>
          <div class="controls">
            <%= f.text_field :username %>
          </div>
        </div>
        <% if @is_new %>
            <div class="control-group form-horizontal">
              <%= f.label :password, 'Contraseña', :class=>'control-label' %>
              <div class="controls">
                <%= f.password_field :password %>
              </div>
            </div>

            <div class="control-group form-horizontal">
              <%= f.label :password_confirmation, 'Confirmación de Contraseña', :class=>'control-label' %>
              <div class="controls">
                <%= f.password_field :password_confirmation %>
              </div>
            </div>
        <% end %>

        <div class='offset6'>
            <% submit_str = @is_new ? 'Crear' : 'Actualizar' %>
            <%= f.submit submit_str, :class => 'btn btn-primary' %>
        </div>
    <% end %>
  </div>
</div>