<div class='fluid-row'>
  <div class='span12'>
    <h2>Cambio de Contrase침a de <%= @user.complete_name %></h2>
  </div>
  <div class='span12'>
    <%= form_for @user, :url => administracion_password_update_path(@user) do |f|%>

        <%= render :partial => 'shared/model_errors',:object => @user, :as => 'token' %>

        <%= hidden_field_tag :sec, @sec %>

        <div class="control-group form-horizontal">
          <%= f.label :username, 'Nombre de Usuario', :class=>'control-label' %>
          <div class="controls">
            <%= f.text_field :username %>
          </div>
        </div>

        <div class="control-group form-horizontal">
          <%= f.label :password, 'Nueva Contrase침a', :class=>'control-label' %>
          <div class="controls">
            <%= f.password_field :password %>
          </div>
        </div>

        <div class="control-group form-horizontal">
          <%= f.label :password_confirmation, 'Confirmaci칩n de Contrase침a', :class=>'control-label' %>
          <div class="controls">
            <%= f.password_field :password_confirmation %>
          </div>
        </div>

        <div class="control-group form-horizontal">
          <div class="controls">
            <%= f.submit 'Cambiar', :class => 'btn btn-primary' %>
            <%= link_to 'Volver a lista de usuarios', administracion_users_list_path, :class => 'btn btn-primary' %>
          </div>
        </div>
    <% end %>
  </div>
</div>