<h2>Aseos calendarizados</h2>

<div id="calendar" style="margin-bottom: 40px"></div>

<div style="margin-bottom: 40px">
  Leyenda:
  <span class="fc-event legend cleanup-rule">Regla de aseo</span>
  <span class="fc-event legend cleanup-instance-finished">Instancia finalizada</span>
</div>

<h3>Reglas de aseo</h3>

<div style="margin-bottom: 20px">
  <a href='<%= limpieza_new_terminal_cleanup_path %>' class="btn btn-primary" data-modal="true">
    <i class="icon-plus"></i> Crear regla de aseo
  </a>
</div>

<table class="table table-bordered">
  <thead>
    <tr>
      <th>Sala</th>
      <th>Primera fecha</th>
      <th>Intervalo</th>
      <th>Comentarios</th>
      <th>Acciones</th>
    </tr>
  </thead>
  <tbody>
    <% @terminal_cleanups.each do |tc| %>
    <tr>
      <td><%= tc.name %></td>
      <td><%= tc.start_date.strftime('%d-%m-%Y') %></td>
      <td><%= tc.interval %> días</td>
      <td><%= tc.comments %></td>
      <td><%= link_to limpieza_delete_terminal_cleanup_path + "?id=#{tc.id}", method: :delete,
                      data: { confirm: '¿Eliminar esta regla de aseo?' +
                              'Se conservarán los aseos en el pasado, pero no se agendarán nuevos aseos.' } do %>
            <i class="icon-trash"></i> Eliminar
          <% end %>
      </td>
    </tr>
    <% end %>
  </tbody>
</table>

<style>
.legend {
    padding: 3px;
    border-radius: 3px;
}

.cleanup-instance-finished {
    color: white;
    background-color: gray;
    cursor: pointer;
}

.cleanup-rule {
    color: yellow;
    font-weight: bold;
    font-style: italic;
    cursor: pointer;
}
</style>

<script>
    $(document).ready(function() {
        $('#calendar').fullCalendar({
            // options
            theme: false,
            firstDay: 1,
            weekMode: 'variable',
            monthNames: ['Enero', 'Febrero', 'Marzo', 'Abril', 'Mayo', 'Junio', 'Julio',
                        'Agosto', 'Septiembre', 'Octubre', 'Noviembre', 'Diciembre'],
            dayNames: ['Domingo', 'Lunes', 'Martes', 'Miércoles', 'Jueves', 'Viernes', 'Sábado'],
            dayNamesShort: ['Dom', 'Lun', 'Mar', 'Mié', 'Jue', 'Vie', 'Sáb'],
            buttonText: { today : 'Hoy' },
            // sources
            events: {
                url: '<%= url_for :action => :get_events %>',
                type: 'GET',
                data: {
                },
                error: function() {
                    alert('there was an error while fetching events!');
                }
            },
            // callbacks
            dayClick: function(date, allDay, jsEvent, view) {
                //alert('a day has been clicked! Current view: ' + view.name);
            },
            eventClick: function(calEvent, jsEvent, view) {
                //alert('a event has been clicked! Event: ' + calEvent.title);
                var year = calEvent.start.getFullYear();
                var month = calEvent.start.getMonth();
                var day = calEvent.start.getDate();
                if (calEvent.eventType == 'rule')
                {
                    var id = calEvent.id.split('-')[1]; // "rule-42"
                    show_modal('<%= limpieza_new_tc_instance_path %>' +
                            '?tc_id=' + id +
                            '&tc_year=' + year +
                            '&tc_month=' + (month+1) +
                            '&tc_day=' + day);
                }
                else if (calEvent.eventType == 'instance')
                {
                    var id = calEvent.id.split('-')[1]; // "instance-42"
                    show_modal('<%= limpieza_edit_tc_instance_path %>' + '?id=' + id);
                }
                else
                    alert('???');
            }
        });
    });

    // Refrescar calendario al cerrar popup
    function modal_hidden_callback() {
      $('#calendar').fullCalendar('refetchEvents');
    }
</script>