<div class="row-fluid">
  <div class="span12">
    <h3>
      Lista de Salas
      <%= link_to administracion_new_room_path do%>
          <i class="icon-plus-sign no-underline"></i>
      <% end %>
    </h3>

    <br>

    <% if @rooms.blank? %>
        <h6>No se han encontrado salas</h6>
    <% else %>
        <table class='table table-striped table-bordered'>
          <tr>
            <th>Nombre</th>
            <th>Sector</th>
            <th>Acciones</th>
          </tr>
          <% @rooms.each do |room| %>
              <tr>
                <td><%= room.name %></td>
                <td><%= room.sector.name %></td>
                <td>
                  <%= link_to administracion_edit_room_path(room) do%>
                      <i class="icon-pencil icon-black"></i>
                  <% end %>
                </td>
              </tr>
          <% end %>
        </table>
        <%= render 'legend_rooms_list' %>
        <%= will_paginate @rooms, renderer: BootstrapPagination::Rails %>
    <% end %>
  </div>
</div>
