<div class='fluid-row'>
  <div class='span12'>
    <% @page_title = @is_new ? 'Nueva Sala' : 'Editando Sala ' %>
    <ul class="breadcrumb">
      <li><a href=<%= administracion_rooms_list_path %>>Lista de Salas</a> <span class="divider">/</span></li>
      <li class="active"><%= @page_title %></li>
    </ul>

    <h2><%= @page_title %></h2>
  </div>
  <div class='span12'>
    <% url_form = @is_new ? administracion_create_room_path : administracion_update_room_path(@room) %>
    <%= form_for @room, :url => url_form do |f|%>

        <%= render :partial => 'shared/model_errors',:object => @room, :as => 'token' %>

        <% unless @is_new %>
            <%= hidden_field_tag :sec, @sec %>
        <%end%>
        <div class="control-group form-horizontal">
          <%= f.label :name, 'Nombre', :class=>'control-label' %>
          <div class="controls">
            <%= f.text_field :name %>
          </div>
        </div>

        <div class="control-group form-horizontal">
          <%= f.label :sector_id, 'Sector', :class=>'control-label' %>
          <div class="controls">
            <%= select_tag 'room[sector_id]', options_for_select(Room.sector_options, @room.sector_id) %>
          </div>
        </div>

        <div class='offset6'>
          <% submit_str = @is_new ? 'Crear' : 'Actualizar' %>
          <%= f.submit submit_str, :class => 'btn btn-primary' %>
        </div>
    <% end %>
  </div>
</div>