<div class='fluid-row'>
  <div class='span12'>
    <h2><%= @is_new ? 'Nueva Sala' : 'Editando sala '+@room.name%></h2>
  </div>
  <div class='span12'>
    <% url_form = @is_new ? administracion_create_room_path : administracion_update_room_path(@room) %>
    <%= form_for @room, :url => url_form do |f|%>

        <%= render :partial => 'shared/model_errors',:object => @room, :as => 'token' %>

        <% unless @is_new %>
            <%= hidden_field_tag :sec, @sec %>
        <%end%>
        <div class="control-group form-horizontal">
          <%= f.label :name, 'Nombre', :class=>'control-label' %>
          <div class="controls">
            <%= f.text_field :name %>
          </div>
        </div>

        <div class="control-group form-horizontal">
          <%= f.label :sector_id, 'Sector', :class=>'control-label' %>
          <div class="controls">
            <%= select_tag 'room[sector_id]', options_for_select(Room.sector_options, @room.sector_id) %>
          </div>
        </div>

        <div>
          <% submit_str = @is_new ? 'Crear' : 'Actualizar' %>
          <%= f.submit submit_str, :class => 'btn btn-primary' %>
          <%= link_to 'Volver a lista', administracion_rooms_list_path, :class => 'btn btn-info' %>
        </div>
    <% end %>
  </div>
</div>