<div class="modal-header">
  <h1>Imprimir tareas del supervisor</h1>
</div>

<%= form_tag(limpieza_print_cleanup_requests_post_path, :method => :get) do %>
    <div class="modal-body">
      <%= bootstrap_flash %>

      <div class="control-group">
        <%= label_tag :date, 'Fecha', :class => "control-label" %>
        <div class="controls">
          <div class="datepicker input-append date">
            <%= text_field_tag :date, DateTime.current.strftime("%d-%m-%Y") %>
            <span class="add-on">
              <i data-time-icon="icon-time" data-date-icon="icon-calendar"></i>
            </span>
          </div>
        </div>
      </div>

      <div class="control-group">
        <%= label_tag 'sector_id[]', 'Sectores', :class => 'control-label' %>
        <div class="controls">
          <%= collection_select 'sector_id', nil, @sectors, :id, :name, {},
                                {:multiple => true, :class => 'input-xxlarge select2' }  %>
        </div>
      </div>

    </div> <!-- /modal-body -->

    <div class="modal-footer">
      <%= submit_tag 'Vista previa de impresión', :class => 'btn btn-primary' %>
      <%= link_to 'Cancelar', '#', :class => 'btn', 'data-dismiss' => 'modal' %>
    </div>
<% end %>
