<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : 'CUALimpieza' %></title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag 'application', :media => 'all' %>

    <%= javascript_include_tag 'application' %>
  </head>
  <body>

    <% unless @current_user.blank? %>
        <%= render 'shared/session_nav_bar' %>
    <% end %>

    <div class="container-fluid">
        <% if @current_module == 'home' %>
            <div class="row-fluid" style="margin-top: 50px">
                <div id='yield-container'>
                    <%= yield %>
                </div>
            </div>
        <% else %>
          <div class="row-fluid">
            <% if @current_controller == 'rooms_view' && @current_action == 'show' %>
                <div class="span12">
                    <%= bootstrap_flash %>
                    <div id='yield-container'>
                      <%= yield %>
                    </div>
                </div>
            <% else %>
                    <div class="span3">
                      <% if @current_module == 'limpieza' %>
                        <%= render 'shared/cleanup_sidebar' %>
                      <% elsif @current_module == 'personal' %>
                        <%= render 'shared/personal_sidebar'%>
                      <% elsif @current_module == 'administracion'%>
                        <%= render 'shared/administration_sidebar' %>
                      <% end %>
                    </div><!--/span-->
                    <div class="span9">
                      <%= bootstrap_flash %>
                      <div id='yield-container'>
                        <%= yield %>
                      </div>
                    </div>
                    <%= render 'shared/modal_popup'%>
            <% end %>
          </div>
        <%end%>
      <!--/row-->

      <footer>
        <!--<p>&copy; IIC3143 2013</p>-->
      </footer>

    </div> <!-- /container -->
  </body>
</html>
