<div class='fluid-row'>
  <div class='span12'>
    <h2><%= @is_new ? 'Nuevo Empleado' : 'Editando a '+@employee.complete_name%></h2>
  </div>
  <div class='span12'>
    <% url_form = @is_new ? personal_create_path : personal_update_path(@employee) %>
    <%= form_for @employee, :url => url_form do |f|%>
        <% unless @is_new %>
            <%= hidden_field_tag :sec, @sec %>
        <%end%>

        <div class="accordion" id="accordion_employee">
          <div class="accordion-group">
            <div class="accordion-heading">
              <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion_employee" href="#collapseOne">
                Datos Personales
              </a>
            </div>
            <div id="collapseOne" class="accordion-body collapse in">
              <div class="accordion-inner">
                <div class="control-group form-horizontal">
                  <%= f.label :name, 'Nombre', :class=>'control-label' %>
                  <div class="controls">
                    <%= f.text_field :name %>
                  </div>
                </div>

                <div class="control-group form-horizontal">
                  <%= f.label :last_name1, 'Apellido Paterno', :class=>'control-label' %>
                  <div class="controls">
                    <%= f.text_field :last_name1 %>
                  </div>
                </div>

                <div class="control-group form-horizontal">
                  <%= f.label :last_name2, 'Apellido Materno', :class=>'control-label' %>
                  <div class="controls">
                    <%= f.text_field :last_name2 %>
                  </div>
                </div>

                <div class="control-group form-horizontal">
                  <%= label_tag :gender, 'Género', :class=>'control-label' %>
                  <div class="controls">
                    <%= f.radio_button(:gender, 'male', :checked => (@employee.gender == 'male')) %>Masculino
                    <%= f.radio_button(:gender, 'female', :checked => (@employee.gender == 'female')) %>Femenino
                  </div>
                </div>

                <div class="control-group form-horizontal">
                  <%= f.label :marital_status, 'Estado Civil', :class=>"control-label" %>
                  <div class="controls">
                    <%= f.select :marital_status,
                                 options_for_select(Employee.marital_status_options, @employee.marital_status),
                                 {:prompt => 'Seleccione un estado'}
                    %>
                  </div>
                </div>

                <div class="control-group form-horizontal">
                  <%= f.label :education_level, 'Formación Académica', :class=>"control-label" %>
                  <div class="controls">
                    <%= f.select :education_level,
                                 options_for_select(Employee.education_level_options, @employee.education_level),
                                 {:prompt => 'Seleccione un nivel'}
                    %>
                  </div>
                </div>

                <div class="control-group form-horizontal">
                  <%= f.label :birth_date, 'Fecha de nacimiento', :class=>"control-label" %>
                  <div class="controls">
                    <div class="datepicker input-append date">
                      <%= f.text_field :birth_date%>
                      <span class="add-on">
                         <i data-time-icon="icon-time" data-date-icon="icon-calendar"></i>
                      </span>
                    </div>
                  </div>
                </div>

                <div class="control-group form-horizontal">
                  <%= f.label :religion, 'Religión', :class=>'control-label' %>
                  <div class="controls">
                    <%= f.text_field :religion %>
                  </div>
                </div>

              </div>
            </div>
          </div>
          <div class="accordion-group">
            <div class="accordion-heading">
              <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion_employee" href="#collapseTwo">
                Datos Familiares
              </a>
            </div>
            <div id="collapseTwo" class="accordion-body collapse">
              <div class="accordion-inner">

                <div class="control-group form-horizontal">
                  <%= f.label :spouse_name, 'Nombre Cónyuge', :class=>'control-label' %>
                  <div class="controls">
                    <%= f.text_field :spouse_name %>
                  </div>
                </div>

                <div class="control-group form-horizontal">
                  <%= f.label :spouse_occupation, 'Ocupación Cónyuge', :class=>'control-label' %>
                  <div class="controls">
                    <%= f.text_field :spouse_occupation %>
                  </div>
                </div>

                <div class="control-group form-horizontal">
                  <%= f.label :children, 'Número de Hijos', :class=>'control-label' %>
                  <div class="controls">
                    <%= f.number_field :children, :min => 0 %>
                  </div>
                </div>

              </div>
            </div>
          </div>
          <div class="accordion-group">
            <div class="accordion-heading">
              <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion_employee" href="#collapseThree">
                Datos Laborales
              </a>
            </div>
            <div id="collapseThree" class="accordion-body collapse">
              <div class="accordion-inner">

                <div class="control-group form-horizontal">
                  <%= label_tag 'employee[occupation_id]', 'Ocupación', :class=>"control-label" %>
                  <div class="controls">
                    <%= select_tag 'employee[occupation_id]',
                                 options_for_select(Employee.occupation_options, @employee.occupation_id),
                                 {:prompt => 'Seleccione una ocupación'}%>
                  </div>
                </div>

                <div class="control-group form-horizontal">
                  <%= f.label :joined_at, 'Ingreso', :class=>"control-label" %>
                  <div class="controls">
                    <div class="datepicker input-append date">
                      <%= f.text_field :joined_at%>
                      <span class="add-on">
                         <i data-time-icon="icon-time" data-date-icon="icon-calendar"></i>
                      </span>
                    </div>
                  </div>
                </div>

                <div class="control-group form-horizontal">
                  <%= f.label :uniform_date, 'Entrega de Uniforme', :class=>"control-label" %>
                  <div class="controls">
                    <div class="datepicker input-append date">
                      <%= f.text_field :uniform_date%>
                      <span class="add-on">
                         <i data-time-icon="icon-time" data-date-icon="icon-calendar"></i>
                      </span>
                    </div>
                  </div>
                </div>

                <div class="control-group form-horizontal">
                  <%= f.label :equipment_date, 'Entrega de Equipo', :class=>"control-label" %>
                  <div class="controls">
                    <div class="datepicker input-append date">
                      <%= f.text_field :equipment_date%>
                      <span class="add-on">
                         <i data-time-icon="icon-time" data-date-icon="icon-calendar"></i>
                      </span>
                    </div>
                  </div>
                </div>

                <div class="control-group form-horizontal">
                  <%= f.label :training, 'Asistió a capacitación?', :class=>'control-label' %>
                  <div class="controls">
                    <%= f.check_box :training %>
                  </div>
                </div>

              </div>
            </div>
          </div>
        </div>
        <% submit_str = @is_new ? 'Crear' : 'Actualizar' %>
        <%= f.submit submit_str, :class => 'btn btn-primary pull-right' %>
    <% end %>
  </div>
</div>