<div class="row-fluid">
    <div class="span12">
        <h3>
          Lista de Empleados
          <%= link_to personal_new_employee_path do%>
              <i class="icon-plus-sign no-underline"></i>
          <% end %>
        </h3>

        <br>

        <%= render partial: 'shared/search_form',
                 locals: {action_url: personal_employees_list_path,
                          current_search: params[:search],
                          search_label: 'Buscar Empleado'} %>

        <% if @employees.blank? %>
          <div class="alert alert-info text-center">
            <h6>No se han creado empleados</h6>
          </div>
        <% else %>
            <table class='table table-striped table-bordered'>
                <tr>
                    <th>Ap. Paterno</th>
                    <th>Ap. Materno</th>
                    <th>Nombre</th>
                    <th>Cargo</th>
                    <th>Estado</th>
                    <th>Acciones</th>
                </tr>
              <% @employees.each do |employee| %>
                  <tr>
                    <td><%= employee.last_name1 %></td>
                    <td><%= employee.last_name2 %></td>
                    <td><%= employee.name %></td>
                    <td><%= employee.get_occupation %></td>
                    <td><%= employee.get_status %></td>
                    <td>
                      <%= link_to personal_edit_employee_path(employee) do%>
                          <i class="icon-pencil icon-black"></i>
                      <% end %> |
                      <%= link_to personal_work_history_path(employee) do%>
                          <i class="icon-briefcase icon-black"></i>
                      <% end %> |
                      <%= link_to personal_cleaning_history_path(employee) do%>
                          <i class="icon-list-alt icon-black"></i>
                      <% end %> |
                      <%= link_to personal_assign_shift_path(employee) do %>
                          <i class="icon-tag icon-black"></i>
                      <% end %>
                    </td>
                  </tr>
              <% end %>
            </table>
            <%= render 'legend_list' %>
            <%= will_paginate @employees, renderer: BootstrapPagination::Rails %>
        <% end %>
    </div>
</div>