<div class="row-fluid">
  <div class="span12">
    <ul class="breadcrumb">
      <li><a href=<%= personal_employees_list_path %>>Lista de Empleados</a> <span class="divider">/</span></li>
      <li class="active">Historial de Trabajo</li>
    </ul>
    <h3>
      Historial de Trabajo de <%= link_to @employee.complete_name, personal_edit_path(@employee)%>
    </h3>

    <% if @employee_work_history.blank? %>
        <h6>No se han creado empleados</h6>
    <% else %>
        <table class='table table-striped table-bordered'>
          <tr>
            <th>Día</th>
            <th>Hora Llegada</th>
            <th>Hora Salida</th>
          </tr>
          <% @employee_work_history.each do |work_record| %>
              <tr>
                <td><%= 'DIA' %></td>
                <td><%= 'H.LLEGADA' %></td>
                <td><%= 'H.SALIDA' %></td>
              </tr>
          <% end %>
          <%= will_paginate @employee_work_history %>
        </table>
    <% end %>
  </div>
</div>